@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,700;1,700&family=Fira+Mono&family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,300;0,8..30,700;1,8..30,300;1,8..30,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --fill-bg: #f7f2ed;
    --fill-text: #0F0E0B;
    /* should both be close to bg color */
    --fill-accent: #15aacc;
    --fill-soft: #E6DCD2;

    --font-base: 15pt;
    --font-heading: 20pt;
    --font-body: "IBM Plex Serif", serif, sans-serif;
    --font-title: "Averia Serif Libre", sans-serif;
    --font-mono: "IBM Plex Mono", monospace;
}

::selection {
    background: var(--fill-accent);
}

@media (prefers-color-scheme:dark) {
    :root {
        --fill-bg: #0F0E0B;
        --fill-text: #E6DCD2;
        --fill-accent: #1544cc;
        --fill-soft: #2a2722;
    }
}

body {
    width: 100vw;
    background-color: var(--fill-bg);
    color: var(--fill-text);
    font-family: var(--font-body);
    font-size: var(--font-base);
    line-height: 1.5;
}

p {
    font-size: var(--font-base);
    hyphens: auto;
    margin-top: 20pt;
    margin-bottom: 20pt;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    letter-spacing: 0.05em;
    hyphens: auto;
    margin-top: 40pt;
    margin-bottom: 20pt;
    font-family: var(--font-title);
    font-weight: bold;
}

.title {
    font-size: calc(var(--font-base) + var(--font-heading));
}

h1 { font-size: calc(var(--font-base) + var(--font-heading) / 2); }
h2 { font-size: calc(var(--font-base) + var(--font-heading) / 3); }
h3 { font-size: calc(var(--font-base) + var(--font-heading) / 4); }
h4 { font-size: calc(var(--font-base) + var(--font-heading) / 5); }
h5 { font-size: calc(var(--font-base) + var(--font-heading) / 6); }
h6 { font-size: calc(var(--font-base) + var(--font-heading) / 7); }

pre {
    font-family: var(--font-mono), monospace;
    overflow: scroll;
    padding: 20pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
    border-radius: 2px;
}

code {
    font-family: var(--font-mono), monospace;
    background-color: var(--fill-soft);
    overflow: scroll;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    hyphens: none;
    padding: 2px;
    border-radius: 2px;
    font-size: 0.95em;
}

pre code {
    white-space: pre;
    background: none;
    padding: 0;
    border: none;
    border-radius: none;
}

blockquote {
    margin-top: 20pt;
    margin-bottom: 20pt;
    padding-left: 20pt;
    border-left: 2px dashed var(--fill-text);
    font-family: var(--font-body);
}

ol, ul {
    padding-left: 40pt;
}

ul {
    list-style: disc outside none;
}

ol {
    list-style: decimal outside none;
}

li {
    margin-top: 10pt;
    margin-bottom: 10pt;
}

hr {
    margin-top: 20pt;
    margin-bottom: 20pt;
    border: 0 solid var(--fill-text);
    border-top: 2px dashed var(--fill-text);
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid var(--fill-accent);

    background-image: linear-gradient(0deg, var(--fill-accent) 0%, var(--fill-accent) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0;
    background-position: 0 100%;
    transition:
        background-size 100ms ease,
        color 100ms ease;
}

a:hover, a:active, a:focus {
    /* border-bottom: 2px solid var(--fill-text); */
    background-size: 100% 100%;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bolder;
}

img {
    display: block;
    margin-top: 30pt;
    margin-bottom: 30pt;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

table {
    margin-top: 20pt;
    margin-bottom: 20pt;
    /* margin-left: 20pt; */
    /* margin-right: 20pt; */
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

thead {
    white-space: nowrap;
    background-color: var(--fill-soft);
    font-family: var(--font-title);
    font-weight: bold;
    letter-spacing: 0.05em;
}

tr:nth-child(even) { background-color: var(--fill-soft); }

td, th {
    border-right: 2px solid var(--fill-soft);
    padding: 0.80pt;
    padding-left: 20pt;
    padding-right: 20pt;
}

tr:nth-child(even) td, th {
    border-right: 2px solid var(--fill-bg);
}

td:last-of-type, th:last-of-type {
    border: none;
}

summary::-webkit-details-marker {
    display: none
}

summary > div {
    width: calc(100% - var(--font-base) * 2);
    display: inline-block;
    vertical-align: middle;
}

summary {
    display: block
}

summary:before {
    content: "►";
    color: var(--fill-special);
    width: var(--font-base);
    font-size: calc(var(--font-base) * 2/3);
}

details[open] summary:before {
    content: "▼";
}

canvas {
    width: 100%;
    height: inherit;
}