{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/index/style.css">
<script src="/index/index.js"></script>
{% endblock extra_head %}

{% block content %}

<div class="body">
    <div class="parallax" id="counter" hidden>0</div>
    <img class="parallax" style="visibility: hidden;" id="mountain-1" src="/index/mountain.svg">
    <img class="parallax" style="visibility: hidden;" id="mountain-2" src="/index/mountain.svg">
    <img class="parallax" style="visibility: hidden;" id="cloud-1" src="/index/cloud.png">
    <img class="parallax" style="visibility: hidden;" id="cloud-2" src="/index/cloud.png">

    <div class="narrow" style="padding-top: 0; padding-bottom: 0;">
        <div style="min-height: 200vh;" id="start">
            <div class="interlude">
                <div>
                    <p class="tag">Hello and <strong>welcome</strong> to the wonderful website of</p>
                    <h1 style="font-size: calc(var(--font-base) + 9vw); margin: 0">Isaac Clayton</h1>
                    <p class="tag">A Student, Compiler Engineer, and Software Architect.<br>(Among other things.)</p>
                    <p class="tag" style="width: 100%; text-align: right;">
                        <a
                            onclick="javascript:document.getElementById('introduction').scrollIntoView({block: 'center', behavior: 'smooth'});">
                            <em>Keep scrolling...</em> ↓
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="boxed" id="introduction">
            <h1>An Introduction</h1>
            <p>Hello, How are you doing? Welcome to my cozy little corner of the web.</p>

            <p>I'm Isaac Clayton, an aspiring Software Architect interested in Reinforcement Learning, Programming
                Language Design, and Graphics Programming.</p>
            <p>I was born in Provo, Utah in 2004, but have lived around the world. Ever since a young age, I've been
                interested in the tools we've used to build our modern technological reality.</p>
            <p>What I find more incredible than the <em>stuff</em> we've created is <em>how</em> we've created it.
                Pulling back the layers drives my insatiate curiosity, and I hope to use this website to document what
                I've come to know.</p>
            <p>By the way: I went all out for this page, but I promise the rest of this website is more sane.</p>
        </div>

        <div style="min-height: 200vh;">
            <div class="interlude">
                <div>
                    <a href="https://github.com/slightknack">
                        <h1 style="font-size: calc(var(--font-base) + 5vw); margin: 0">Past Work &&nbsp;Projects</h1>
                        <p class="tag">Can be found on GitHub.</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="boxed">
            <h1>So, what have you worked on?</h1>
            <p>That's a good question! Here are a few projects I'm particularly proud of:</p>
            <ul>
                <li>
                    <p><a href="https://www.passerine.io"><strong>Passerine</strong></a> is a small extensible
                        programming language designed for concise expression with little code. <a
                            href="https://github.com/vrtbl/passerine"> Take a look at the
                            implementation on GitHub.</a></p>
                </li>
                <li>
                    <p><a href="https://github.com/slightknack/keikan"><strong>Keikan (警官)</strong></a> is an elegant
                        rendering engine written in Rust. It supports ray-marching and path-tracing.</p>
                </li>
                <li>
                    <p><a href="https://github.com/sldty"><strong>Solidarity</strong></a> is a distributed platform
                        built for communication and collaboration. (Currently a work in progress. The backend datastore,
                        <a href="https://github.com/sldty/kitbag">Kitbag, can be found here</a>.)
                    </p>
                </li>
                <li>
                    <p><a href="https://blog.tonari.no/shadergarden"><strong>Shadergarden</strong></a> is a tool for
                        creating art with shaders, using GLSL and live-reloaded lisp. It's one of the tools I worked on
                        during my internship at <a href="https://tonari.no">Tonari</a>.</p>
                </li>
            </ul>
        </div>

        <div style="min-height: 200vh;" id="end">
            <div class="interlude">
                <div>
                    <div>
                        <a href="/blog">
                            <h1 style="font-size: calc(var(--font-base) + 5vw); margin: 0">Check out my&nbsp;Blog!</h1>
                            <p class="tag">If you're done scrolling, of course. Alternatively:</p>
                        </a>
                    </div>
                    <p class="tag" style="width: 100%; text-align: right;">
                        <a
                            onclick="javascript:document.getElementById('start').scrollIntoView({block: 'center', behavior: 'smooth'});">
                            <em>Fly back up to the top!</em> ↑
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    {% endblock content %}