<!-- artbit sidebar -->
{% macro artbit(image) %}
<a href="..">
    <div class="artbit">
        <img class="pixel-sidebar" src="/hypercard-artbits/{{ image }}" alt="Jump back up a level"/>
    </div>
</a>
{% endmacro artbit %}

{% macro extranav() %}
<li class="pill">
    <a class="tag" href="https://goto.isaac.sh">Goto ↬</a>
</li>
<li class="pill">
    <a class="tag" href="https://stats.isaac.sh">Stats ↬</a>
</li>
<li class="pill">
    <a class="tag" href="https://git.isaac.sh">Github ↬</a>
</li>
<li class="pill">
    <a class="tag" href="https://slightknack.dev/atom.xml">RSS ↬</a>
</li>
{% endmacro extranav %}
