{% extends "sidebar.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
{{ section.content | safe }}
{% for page in section.pages %}
<li style="list-style: none;">
    <div class="boxed">
        <h1 style="margin-top: 0vh">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h1>
        <p class="tag">{{ page.date }} · About {{ page.reading_time }} minute{{ page.reading_time | pluralize }} long</p>
        {% if page.description %}
            <p>{{ page.description }}<p>
        {% elif page.summary %}
            {{ page.summary | safe }}
            <p class="tag"><a href="{{ page.permalink | safe}}#continue-reading">Continue reading...</a></p>
        {% endif %}
    </div>
</li>
{% endfor %}
{% endblock content %}

<!-- sidebar block -->
{% block sidebar %}
{{ macros::artbit(image=section.extra.artbit) }}
{% endblock%}
