body {
    background: #7ac3cf;
    /* background: #fff; */
    /* color: #000; */
    --half-fill: #000000aa;
    --bg-fill:   #eee;
    --text-fill: #000;
    /* --soft-fill: #00000022; */

    /* --half-fill: #ffffffaa; */
    --soft-fill: #ffffff88;
}

#counter {
  position: fixed;
  background-color: #333;
}

.sidebar {
    /* background-color: #51544f; */
    z-index: 2;
}

.parallax {
    pointer-events: none;
    z-index: 1;
    position: fixed;
    margin: 0;
    width: 100vw;
}

#mountain-1, #mountain-2 {
    transform: skewY(5deg);
}

#cloud-1, #cloud-2 {
    z-index: -1;
    transform: skewY(-15deg);
}

.interlude {
    position: sticky;
    top: 0;
    margin: auto;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interlude > * {
    width: 100%;
}
